@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Passion+One:wght@700&display=swap');

:root{
  --color-pri : #613D2B;
  --color-semi-red :#F6E6DA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

.text-red{
  color: var(--color-pri) !important;
  font-family: 'Cabin', sans-serif;
}
.text-brown{
  color: rgba(97, 61, 43, 1) !important;
}
.text-small{
  font-size: .7rem;
}

.bg-pink{
  background-color: var(--color-semi-red);
}

.btn-red{
  background-color: var(--color-pri);
  color: white;
  font-weight: bold;
  border: solid 3px var(--color-pri);
}
.btn-reverse-red{
  color: var(--color-pri);
  border: solid 3px var(--color-pri);
  font-weight: bold;
}
.btn-red:hover{
  background-color: var(--color-pri);
  color: white;
  font-weight: bold;
  border: solid 3px var(--color-pri);
}
.btn-reverse-red:hover{
  color: var(--color-pri);
  border: solid 3px var(--color-pri);
  font-weight: bold;
}

.input-red{
  background-color: rgba(224, 200, 200, 0.25);
  border: solid 3px var(--color-pri);
}
.input-red:focus{
  border: solid 3px var(--color-pri) !important;
  box-shadow: 2px 2px 10px 0px var(--color-pri) !important;
}
.input-red::placeholder{
  color:rgba(104, 50, 50, 0.5);
}

.cursor-pointer{
  cursor: pointer;
}

.nav-photo{
  width: 50px; 
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  border: solid 2.5px var(--color-pri);
  cursor: pointer;
}

/*. Dropdown */
.menu-drop{
  background-color: white;
  position: absolute;
  right: 90px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
}

.menu-drop p {
  width: 100%;
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.menu-drop p:hover{
  color: var(--color-pri);
}

.menu-drop div {
  border-bottom: solid 3px grey;
  padding-right: 65px !important;
}

.menu-drop::before{
  content: '';
  width: 0; 
  height: 0; 
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 30px solid white;
  position: absolute;
  top: -15px;
  right: 10px;
}

.dropdown-menu{
  background: transparent;
  border: none;
}

/*. Hero */
.hero{
  width: 90%;
  height: 400px;
  padding: 50px;
  border-radius: 10px;
}

.hero-img{
  width: 30rem;
  height: 18rem;
  position: absolute;
  right: 0;
}

/*. Cart */

.cart{
  border-top: 1px solid var(--color-pri);
  border-bottom: 1px solid var(--color-pri);
}

.cart-image{
  width: 80px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.cart-total{
  width: 15px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 4px;
  right: -2px;
  font-size: 10px;
  text-align: center;
  color: white;
  background-color: var(--color-pri);
  border-radius: 50%;
}

/*. Thanks Message */

div.thanks-message{
  text-align: center;
  padding: 5em 8em;
  background-color: rgba(255, 255, 255, 1) !important;
  color: rgba(70, 159, 116, 1) !important;
}

/*. Form */

.input-file-red{
  display: none;
}

.label-file{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(224, 200, 200, 0.25);
  border: solid 3px var(--color-pri);
  cursor: pointer;
  color: rgba(104, 50, 50, 0.5);
}

/*. Checkbox */
/* The toping-checkbox */
.toping-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Hide the browser's default checkbox */
.toping-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 30%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: none;
}

/* On mouse-over, add a grey background color */
.toping-checkbox:hover input ~ .checkmark {
  background: none;
}

/* When the checkbox is checked, add a blue background */
.toping-checkbox input:checked ~ .checkmark {
  background-color: rgba(59, 181, 74, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.toping-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.toping-checkbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btnIncDec{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #613D2B;
  background-color: transparent;
  border: none;
}

.btnIncDec:active{
  width: 18px;
  height: 18px;
}

.IncDec{
  height: 25px;
  min-width: 25px;
  background-color: #F6E6DA;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #613D2B;
  font-weight: 700;
}

.trash:active{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.trash:hover{
  cursor: pointer;
}

.tothe-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* profileCard */

.profileCard{
  display: flex;
  flex-direction: row;
  width: 650px;
  background-color: #F6E6DA;
  border-radius: 5px;
  justify-content: space-between;
  padding: 20px 30px 0px 30px;
}

.contentCardLeft{
  display: flex;
  flex-direction: column;
}

.mapContent{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}


.contentCardLeft ul li{
  list-style: none;
}

.contentCardLeft img{
  width: 100px;
  height: 120px;
  border-radius: 10px;
}

.profileCardTitle{
  font-size: 20px;
  font-weight: 700;
  color: #613D2B;
  margin-top: -2px;
}

.profileCardDate{
  font-size: 14px;
  margin-bottom: 10px;
  color: #613D2B;
  font-weight: 500;
}
.profileCardDate strong{
  font-weight: 700;
}

.profileCardToping strong{
  color: #974A4A;
}

.profileCardToping{
  font-size: 14px;
  color: #613D2B;
  margin-bottom: 7px;
}

.profileCardPrice{
  font-size: 14px;
  color: #974A4A;
}


.contentCardRight img{
  display: block ;
  width: 140px;
  height: 70px;
  margin-left: 20px;
  margin-bottom: 6px;
}

.contentCardRight{
  justify-content: center;
  text-align: center;
}

.Otw span {
  margin-top: 20px;
  display: block;
  background: #613D2B;
}

.Cancel span {
  margin-top: 20px;
  display: block;
  background: #bd07075f;
}

.Success span {
  margin-top: 20px;
  display: block;
  background: #78a85a51;
}

.Otw span p{
  color: white;
  font-weight: 600;
}

.Cancel span p{
  color: #BD0707;
  font-weight: 600;
}

.Success span p{
  color: #78A85A;
  font-weight: 600;
}

.profileSubTotal {
  font-size: 15px;
  font-weight: 700;
  color: #974A4A;
}

.tableContainer h1{
  margin-bottom: 40px;
  color: #613D2B;
  font-weight: 900;

}

.tablePrice{
  color: #061E99;
  font-weight: 600;
}

.tableSuccess{
  color: #78A85A;
  font-weight: 600;
}
.tableSuccess:hover{
  color: #78A85A;
  font-weight: 600;
}

.tableWaiting{
  color: #FF9900;
  font-weight: 600;
}

.tableWaiting:hover{
  color: #FF9900;
  font-weight: 600;
}

.tableOtw{
  color: #00D1FF;
  font-weight: 600;
}

.tableOtw:hover{
  color: #00D1FF;
  font-weight: 600;
}

.tableCancel{
  color: #E83939;
  font-weight: 600;
}

.tableCancel:hover{
  color: #E83939;
  font-weight: 600;
}

.overflowTrans{
  background: #ffffff;
  color: white;
  padding: 15px;
  width: 45rem;
  height: 25rem;
  overflow: hidden visible;
  
}

.nildata{
  width: 70%;
  border-radius: 10px;
  margin-left: 60px;
  margin-bottom: 15px;
}
.nilbtn{
  border-radius: 10px;
  margin-left: 55px;
}

.tablehead{
  background-color: #a37e6b;
  color:white
}